.nav-bar-list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.nav-bar{
  display: flex;
  justify-content: center;
  height: 3rem !important;
  background-color: var(--p-primary-color) !important;
}